html {
  /* line-height: 1.5px; */
  font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;  
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  /* background-color: #363938; */
  color: #7e7a73;
}

.body-frame {
  background-color: #f8f8f8;
  position: fixed;
  display: flex;
  justify-content: center;
  margin: auto;
  height: 100%;
  padding-left: 10rem;
  padding-right: 10rem;
}

.inner-frame {

}


.fixed {
  position: fixed;
  /* width: 100%; */
  min-width: 500px;
  max-width: 85rem;
  height: 100%;
}


.nav {
  min-width: 700px;
  margin: auto;
  display: flex;
}

.nav-left {
  min-width: 50%;
}

.nav-left h1 {
  padding-left: 60px;
  font-size: 2rem;
}

.nav-right {
  min-width: 50%;
}

.nav-bar {
  display: flex;
  list-style-type: none;
  justify-content: end;
  padding-right: 40px;
}

.nav-bar li {
  font-size: 1.2rem;
  margin: 1rem;
}

.header-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  /* padding-left: 5rem;
  padding-right: 5rem; */
  /* background-color: #f8f8f8; */
  background-image: url("https://www.transparenttextures.com/patterns/diamond-upholstery.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  height: 500px;

  background-image: url("https://www.transparenttextures.com/patterns/gplay.png");
} 

.header-home {
  margin: auto 5em;
  width: 60%;
}
 
.header-section h1 {
  font-size: 4rem;
  margin: auto;
}

.header-section p {
  padding-right: 50px;
  font-size: 1.2rem;
}