@font-face {
  font-family: "Niramit ExtraLight Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Niramit ExtraLight Regular"),
    url(./assets/fonts/Niramit-ExtraLight.woff) format("woff");
}

@font-face {
  font-family: "Niramit Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Niramit Regular"),
    url(./assets/fonts/Niramit-Regular.ttf) format("woff");
}

html {
  /* line-height: 1.5px; */
  font-family: Helvetica, Segoe UI, Roboto, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Symbol, Noto Color Emoji, ui-sans-serif,
    system-ui, -apple-system, BlinkMacSystemFont;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  /* background-color: #363938; */
  color: #7e7a73;
  box-sizing: content-box;
  font-family: Helvetica, Segoe UI, Roboto, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Symbol, Noto Color Emoji, ui-sans-serif,
    system-ui, -apple-system, BlinkMacSystemFont;
}

.body-frame {
  display: flex;
  justify-content: center;
  margin: auto;
  height: 100%;
  width: 100%;
}

.inner-frame {
  width: 100%;
}

/* h2 {
  margin-bottom: 25px;
} */

.projects hr,
.endorsement hr {
  border-top: 3px solid #cbbc9c;
  opacity: 1;
  width: 5%;
  margin: auto;
  margin-bottom: 70px;
}

.endorsement hr {
  margin-bottom: 40px;
}

/* ////////////////////////////////////// Header ////////////////////////////////////// */

.header {
  position: relative;
  border-top: 4px solid #707d76;
  z-index: 1;
}

.header-bg {
  position: absolute;
  background-image: url("https://www.transparenttextures.com/patterns/gplay.png");
  opacity: 0.4;
  height: 100%;
  width: 100%;
}

.header-top {
  position: relative;
  height: 50px;
  /* justify-content: end;
  display: flex;
  align-items: center; */
  border-bottom: 1px solid;
}

.header-top-inner {
  max-width: 850px;
  margin: auto;
  display: flex;
  justify-content: end;
  align-items: center;
  height: 100%;
}

.header-top a {
  display: flex;
  text-decoration: none;
  margin-right: 25px;
}

.header-top i {
  line-height: 1;
  color: #63605a;
}

.top-linkedin {
  margin-right: 10px;
}

@media (min-width: 630px) {
  .top-linkedin {
    margin-right: 30px;
  }
}

.header-inner-frame {
  position: relative;
  max-width: 850px;
  margin: auto;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  min-height: 550px;
}

.header-home {
  margin: 5em 0 4em;
}

@media (min-width: 560px) {
  .header-home {
    margin: 3rem 0 2em;
  }
}

.home-title {
  display: flex;
  overflow: hidden;
}

.home-title > div {
  width: 25px;
  margin-right: 15px;
}

@media (min-width: 400px) {
  .home-title > div {
    width: 50px;
  }
}

.home-title > div > hr {
  height: 1.5px;
  background-color: #787d7d;
  margin: revert;
  opacity: 1;
}

.home-title h6 {
  margin-bottom: 0;
  font-size: 0.9rem;
  letter-spacing: 1.5px;
  padding-left: 25px;
}

.home h1 {
  font-size: 2.5rem;
  margin: auto;
  padding-left: 25px;
  letter-spacing: 5.5px;
  font-weight: 600;
  color: #63605a;
}

/* @media (min-width: 400px) {
  .home h1 {
    padding-left: 65px;
  }
} */

@media (min-width: 530px) {
  .home h1 {
    font-size: 3.5rem;
  }
}

.home-intro {
  padding-left: 25px;
  padding-right: 25px;
}

@media (min-width: 900px) {
  .home-title h6 {
    padding-left: 0;
  }

  .home h1 {
    padding-left: 0;
  }

  .home-intro {
    padding-left: 0;
    padding-right: 0;
  }
}

.home-intro > p > strong {
  color: #cbbc9c;
}

.home-intro > p > i {
  margin-right: 2px;
  color: #cbbc9c;
  line-height: 1;
}

.home-intro p {
  /* padding-right: 50px;
  font-size: 1.2rem; */
  font-family: "Niramit ExtraLight Regular", Helvetica, Segoe UI, Roboto, Arial,
    Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Symbol, Noto Color Emoji,
    ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont;
  font-size: 1rem;
  line-height: 1.7;
}

.home-intro p:nth-child(1) {
  margin-top: 50px;
  margin-bottom: 10px;
}

.home-intro p:nth-child(2) {
  margin-top: 0;
  margin-bottom: 35px;
}

.resume-btn {
  width: 100%;
  border-radius: 0;
  /* padding: 8px 35px; */
  border: none;
  background-color: #cbbc9c;
}

@media (min-width: 400px) {
  .resume-btn {
    width: auto;
  }
}

.resume-btn:hover {
  background-color: #c9c3b7;
  color: white;
}

.resume-btn a {
  font-size: 1rem;
  text-decoration: none;
  color: white;
  letter-spacing: 1px;
}

.resume-btn span {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 35px;
}

.resume-btn i {
  line-height: 1;
  margin-left: 5px;
}

/* ////////////////////////////////////// Skills ////////////////////////////////////// */

.skills-frame {
  padding-bottom: 75px;
}

.skills-inner {
  max-width: 850px;
  margin: auto;
}

@media (min-width: 630px) {
  .skills-inner {
    display: flex;
  }
}

.skills-inner .skills-col:nth-child(1) {
  background-color: #3b3d3d;
  overflow: hidden;
}

.skills-inner .skills-col:hover {
  padding: 0 13px;
  opacity: 0.8;
  /* transition: 0.6s; */
}

.skills-inner .skills-col:nth-child(2),
.skills-inner .skills-col:nth-child(3) {
  /* border-top: 1px solid;
  border-right: 1px solid; */
  color: #3b3d3d;
}

.skills-col {
  position: relative;
  display: flex;
  align-items: center;
  flex: 1;
  font-size: 0.9rem;
  min-height: 168px;
  padding: 30px 25px;
  color: white;
  font-family: "Niramit ExtraLight Regular", Helvetica, Segoe UI, Roboto, Arial,
    Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Symbol, Noto Color Emoji,
    ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont;
}

@media (min-width: 336px) {
  .skills-col {
    min-height: 147px;
  }
}

@media (min-width: 400px) {
  .skills-col {
    padding: 30px 45px;
  }
}

@media (min-width: 470px) {
  .skills-col {
    min-height: 125px;
  }
}

@media (min-width: 630px) {
  .skills-col {
    padding: 13px;
    min-height: 201px;
  }
}

@media (min-width: 751px) {
  .skills-col {
    padding: 13px;
    min-height: 107px;
  }
}

.col-frame {
  display: flex;
  position: relative;
  height: 100%;
}

.col-frame .col-icon {
  margin-top: auto;
  margin-bottom: auto;
}

.col-icon .fa-solid {
  margin: auto;
  padding-right: 30px;
  line-height: 1;
  color: #cbbc9c;
}

@media (min-width: 630px) {
  .col-icon .fa-solid {
    padding-right: 15px;
  }
}

.col-right {
  position: relative;
  display: flex;
  overflow: hidden;
}

.skills-list {
  display: flex;
}

.skills-list ul {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  list-style: none;
  margin: auto;
  opacity: 0;
}

.skills-list li {
  margin-right: 11px;
  margin-top: 3px;
  margin-bottom: 3px;

  /* margin-bottom: 5px; */
  padding: 3px 6px;
  border-radius: 2px;
  /* background-color: #3b3d3d80;
  color: white; */
}

.skills-list .fontend li {
}

.skills-list .backend li,
.skills-list .database li {
  background-color: #3b3d3d80;
  color: white;
}

.col-p {
  width: 100%;
  /* height: 100%; */
  position: relative;
  opacity: 1;
  transition: 0.6s;
  margin: auto;
}

.col-p p {
  margin-bottom: 0;
  /* position: absolute; */
  /* transition: 0.6s; */
}

/* .col-p p:nth-child(1) {
  opacity: 0;
} */

/* .col-p p:nth-child(2) {
  transition: 0.6s;
  position: relative;
} */

.skills-col:hover {
  .skills-list ul {
    position: relative;
    opacity: 1;
    transition: 1s;
  }

  .col-p {
    position: absolute;
    transition: 0s;
    opacity: 0;
    top: 0;
    /* display: none; */
  }
}

/* ////////////////////////////////////// Projects ////////////////////////////////////// */

.projects {
  padding-top: 85px;
  padding-bottom: 85px;
  background-color: #f8f8f8;
  position: relative;
  z-index: 1;
}

.pro-inner-frame {
  max-width: 850px;
  margin-left: auto;
  margin-right: auto;
}

.projects h2 {
  text-align: center;
  letter-spacing: 1.5px;
}

.pro-container {
  position: relative;
  margin-top: 6rem;
  margin-bottom: 6rem;
  border-left: 3px solid #787d7d;
}

@media (min-width: 580px) {
  .pro-container {
    display: flex;
  }
}

.pro-inner-frame .pro-container:nth-child(3) {
  margin-top: 0;
}

.pro-inner-frame .pro-container:nth-last-child(1) {
  margin-bottom: 40px;
}

.pic-frame {
  max-height: 310px;
  overflow: hidden;
  margin-bottom: 30px;
  /* padding-left: 5px; */
}

@media (min-width: 580px) {
  .pic-frame {
    width: 50%;
    padding-left: 20px;
    margin-bottom: 0;
  }
}

@media (min-width: 650px) {
  .pic-frame {
    max-height: 275px;
  }
}

.pic-frame > img {
  width: 100%;
  /* height: 100%; */
  object-fit: cover;
  transition-duration: 2000ms;
}

.pic-frame > img:hover {
  transform: translateY(-600px);
}

.pro-name {
  display: flex;
  color: #3b3d3ddb;
  margin-bottom: 25px;
}

.pro-name > div {
  margin-right: 10px;
}

.pro-name a {
  display: flex;
  text-decoration: none;
}

.pro-name .fa-brands {
  font-weight: 600;
  color: #cbbc9c;
  /* vertical-align: middle; */
  line-height: 1;
  margin: auto;
}

.pro-details {
  position: relative;
  min-height: 335px;
  box-sizing: border-box;
  /* padding-left: 15px; */
  margin-left: 15px;
  margin-right: 15px;
}

@media (min-width: 283px) {
  .pro-details {
    min-height: 315px;
  }
}

@media (min-width: 294px) {
  .pro-details {
    min-height: 285px;
  }
}

@media (min-width: 420px) {
  .pro-details {
    min-height: 240px;
  }
}

@media (min-width: 580px) {
  .pro-details {
    /* min-height: 0; */
    /* max-height: 250px; */
    width: 50%;
    margin-left: 30px;
  }
}

.pro-details h6 {
  font-size: 0.8rem;
}

.pro-details h5 {
  font-size: 1.5rem;
  margin-bottom: 0;
  letter-spacing: 1.5px;
}

@media (min-width: 580px) {
  .pro-details h5 {
    font-size: 1.4rem;
  }
}

@media (min-width: 630px) {
  .pro-details h5 {
    font-size: 1.5rem;
  }
}

.pro-details p {
  font-family: "Niramit ExtraLight Regular", Helvetica, Segoe UI, Roboto, Arial,
    Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Symbol, Noto Color Emoji,
    ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont;
  margin-bottom: 0;
  font-size: 0.9rem;
}

.techs {
  position: absolute;
  min-height: 94px;
  bottom: 0;
}

.techs img {
  border-radius: 2px;
}

/* ////////////////////////////////////// Endorsement ////////////////////////////////////// */

.endorsement {
  position: relative;
  z-index: 2;
  max-width: 850px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 85px;
  margin-bottom: 85px;
}

.endorsement > h2 {
  letter-spacing: 1.5px;
}

.endor-details {
  padding-left: 100px;
  padding-right: 100px;
}

/* .carousel-inner {
  height: 300px;
} */

.carousel-item {
  height: 1055px;
}

@media (min-width: 335px) {
  .carousel-item {
    height: 755px;
  }
}

@media (min-width: 400px) {
  .carousel-item {
    height: 600px;
  }
}

@media (min-width: 500px) {
  .carousel-item {
    height: 505px;
  }
}

@media (min-width: 600px) {
  .carousel-item {
    height: 430px;
  }
}

@media (min-width: 682px) {
  .carousel-item {
    height: 410px;
  }
}

@media (min-width: 762px) {
  .carousel-item {
    height: 390px;
  }
}

@media (min-width: 846px) {
  .carousel-item {
    height: 355px;
  }
}

.carousel-caption {
  color: #7e7a73;
  top: 0;
  /* max-height: 316px; */
  padding-bottom: 0px;
  overflow: hidden;
  padding-top: 0;
  /* padding-bottom: 0; */
}

.carousel-caption span {
  display: inline-block;
  /* margin-bottom: 30px; */
}

.carousel-caption > span {
  margin-bottom: 25px;
  /* margin-bottom: 30px; */
}

.carousel-caption i {
  /* margin-bottom: 35px; */
}

.carousel-caption strong {
  color: #cbbc9c;
}

.endor-name {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.endor-name h5 {
  margin-left: 30px;
  color: #3b3d3d;
  margin-bottom: 0;
}

.endor-name a {
  color: #cbbc9c;
  margin-left: 10px;
}

.endor-name .fa-solid {
  font-weight: 600;
  /* margin-left: 10px; */
  line-height: 1;
}

.carousel-caption h5 {
  /* margin-bottom: 1rem; */
}

.carousel-caption p {
  font-size: 0.9rem;
  padding: 15px 50px;
  line-height: 1.5;
  margin-bottom: 0;
}

.carousel-indicators [data-bs-target] {
  background-color: #7e7a73;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(19%) sepia(6%) saturate(239%) hue-rotate(131deg)
    brightness(-50%) contrast(80%);
}

/* ////////////////////////////////////// Footer ////////////////////////////////////// */

footer {
  position: relative;
  z-index: 1;
  background-color: #3b3d3d;
  color: white;
}

.social {
  margin: 40px;
}

.social-links {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.social-links li {
  list-style: none;
  margin-left: 15px;
  margin-right: 15px;
}

.social-links i {
  color: white;
}

.copyright {
  text-align: center;
}

.copyright h6 {
  font-family: Source Sans Pro, sans-serif;
  font-weight: 100;
  font-size: 0.8rem;
  margin-bottom: 0;
  padding-bottom: 20px;
}
